@charset "utf-8";
@import "_mixins.scss";

/*==================================
  Component
==================================*/
html {
  overflow: auto;
  &.no_move {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;

  &[src$=".png"],
  &[src$=".jpg"] {
    backface-visibility: hidden;
  }
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  @include sp {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;

    &.col_4 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }
}

/*==================================
	リスト系
==================================*/

// お知らせ一覧
.news_ul {
  @include pc{
    max-width: 1000px;
    margin: 0 auto 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .news_li {
    @include pc{
      width: 24%;
      &:not(:first-child){
        margin: 0 0 35px calc(4% / 3);
      }
      &:nth-child(4n+1){
        margin: 0 0 0 0;
      }
    }
    > a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .title{
        display: block;
        font-size: 18px;
        letter-spacing: .05em;
        line-height: 27px;
        margin: 9px 0 10px;
      }
      .date {
        display: block;
        @include Montserrat(400);
        font-size: 13px;
        font-weight: 400;
        color: #9b9b9b;
        letter-spacing: .08em;
        line-height: 20px;
        .job-info-text{
          @include Noto_Sans(400);
        }
      }

      .img_wrap {
        width: 100%;
        border-radius: 5px;
      }

      .post-cont{
        width: 100%;
      }
    }
  }

  @include sp {
    .news_li {
      &:not(:last-child){
        margin: 0 0 20px;
      }
      > a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .img_wrap {
          max-width: 97.5px;
        }

        .post-cont{
          width: calc(100% - 97.5px);
          padding: 0 0 0 15px;
        }
        .date,
        .title,
        .status {
          display: block;
        }
        .status{
          font-size: 11px;
          letter-spacing: .08em;
          color: #ea6401;
          margin: 0 0 5px;
        }
        .date {
          font-size: 12px;
        }

        .title {
          font-size: 16px;
          letter-spacing: .05em;
          line-height: 24px;
          margin: 0 ;
        }
      }
    }
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation {
  &.recruit-page{
    @include sp {
      .wp-pagenavi{
        margin: 0 0 0;
      }
    }
  }
  // wordpress 用
  .wp-pagenavi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    @include sp {
      margin: 35px 0 0;
    }
    > .page,
    .current {
      font-size: 20px;
      font-weight: 500;
      width: 54px;
      height: 54px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 6px;
      @include sp{
        font-size: 16px;
        width: 40px;
        height: 40px;
      }
      &:not(.current) {
        background-color: #fff;
        border: 1px solid #229a48;
        @include sp{
          border: 1px solid #407dd0;
        }
        @include pc {
          &:hover {
            color: #fff;
            background-color: #229a48;
          }
        }
      }

      &.current {
        background-color: #229a48;
        color: #fff;
        @include sp{
          background-color: #407dd0;
          background-color: 1px solid #407dd0;
        }
      }
    }

    .nextpostslink,
    .previouspostslink {
      position: relative;
      font-weight: 500;
      box-sizing: border-box;
      img{
        width: 30px;
        transition: .3s ease-in-out;
        @include sp{
          width: 25.5px;
        }
      }
      &.previouspostslink {
        margin: 0 20px 0 0;
        img{
          transform: scaleX(-1);
        }
        @include pc {
          &:hover {
            img {
              transform: scaleX(-1) translateX(10px);
            }
          }
        }
      }
      &.nextpostslink {
        margin: 0 0 0 20px;
        @include pc {
          &:hover {
            img {
              transform: translateX(10px);
            }
          }
        }
      }
    }

    .list_back {
      margin-left: 58px;
      margin-right: 58px;
      > a {
        font-weight: 500;
        > .list_icon {
          display: inline-block;
          padding-left: 24px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 14px;
            height: 14px;
            background-image: url(../img/news/list_icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }
      }
    }
  }

  // movable type 用
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0 50px;
    .link_page,
    .current_page {
      font-size: 16px;
      font-weight: 500;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-sizing: border-box;
      margin: 0 5px;
      &:not(.current_page) {
        background-color: #f3f3f3;
        @include pc {
          &:hover {
            color: #fff;
            background-color: #000;
          }
        }
      }

      &.current_page {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/*==================================
	PAGE HEADER 
==================================*/
.p-header{
  height: 220px;
  background-color: #fff7df;
  display: flex;
  align-items: center;
  justify-content: center;
  @include sp{
    height: 130px;
    background-color: #fff9f4;
  }
  &--wrap{
    text-align: center;
  }
  &--sm{
    @include Montserrat(700);
    font-size: 20px;
    letter-spacing: .15em;
    color: #0aa63e;
    margin: 0 0 10px;
    @include sp{
      color: #407dd0;
      font-size: 13px;
      margin: 0 0 5px;
    }
  }
  &--lg{
    font-weight: 700;
    font-size: 42px;
    letter-spacing: .15em;
    @include sp{
      font-size: 25px;
      letter-spacing: .1em;
    }
  }
}